body {
  -webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none; /* prevent webkit from resizing text to fit */
  -webkit-user-select: none; /* prevent copy paste, to allow, change 'none' to 'text' */
}

li.unpaid-tickets {
  background-color: #777777 !important;
}
li.winner {
  background-color: #FFD700 !important;
  color: black !important;
}
span.ticket {
  color: black;
  display: block;
  font-size: x-small;
}
